* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body::selection {
  background-color: yellow;
  color: #000;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 24px;
}
.header .container {

  padding: 0 ;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3f3f3;
  border: 2px solid #000;
  padding: 5px 24px;
  border-radius: 20px;
}

.menu-wrapper {
  display: none;
}

.logo {
  font-size: 30px;
  font-weight: 800;
}

.logo span {
  color: #ff7300;
}

.links ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
}

.links ul li a {
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s;
  display: inline-block;
  color: #000;
}

.links ul li a:hover {
  color: rgb(255, 122, 80);
}

.links img {
  margin-left: 16px;
  width: 14px;
  height: 14px;
}

.computer-nav-btn {
  transition: all 0.3s;
  font-size: 14px;
  font-weight: 700;
}
.computer-nav-btn a {
  color: #000;
}

.computer-nav-btn:hover {
  transform: translate(3px, 3px);
}

.btn-computer-nav {
  background-color: #ffd15b;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 20px;
}

.hero {
  position: relative;
  width: 100%;
  background: rgb(255, 240, 133);
  padding-top: 144px;
  padding-bottom: 64px;
  overflow: hidden;
  z-index: 10;
}

.hero .container {
  display: grid;
  grid-template-areas: "hero-info hero-img";
  grid-template-columns: 1.3fr 1fr;
  gap: 60px;
  align-items: center;
}

.bg-hero-info {
  background-color: #000;
  border: #000 2px solid;
  padding: 8px 16px;
  transform: rotate(-3deg);
  box-shadow: 3px 3px #000;
  margin-bottom: 24px;
}

.hero-info {
  grid-area: hero-info;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
}

.bg-hero-info span {
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.hero-info h2 {
  font-size: 72px;
  font-weight: 900;
  text-shadow: 3px 3px #000;
  margin: 0;
}

.hero-text-black {
  color: rgb(0, 0, 0);
}

.hero-text-red {
  color: oklch(0.577 0.245 27.325);
}

.hero-text-blue {
  color: oklch(0.546 0.245 262.881);
}

.hero-info p {
  padding: 16px;
  border: 2px black solid;
  background-color: #f3f3f3;
  font-weight: 500;
  font-size: 24px;
  box-shadow: 3px 3px #000;
}

.hero-btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.dark-btn,
.white-btn {
  box-shadow: 8px 8px #000;
  transition: all 0.3s;
}

.dark-btn {
  margin-right: 16px;
}

.dark svg,
.white svg {
  width: 30px;
  height: 30px;
}

.dark {
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.white {
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.white-btn:hover,
.dark-btn:hover {
  box-shadow: 0px 0px;
  transform: translate(10px, 10px);
}

.hero::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: rgb(229, 216, 119);
  top: 30px;
  left: 60px;
  transform: rotate(10deg);
  z-index: 0;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 220, 124);
  right: 90px;
  top: 180px;
  transform: rotate(45deg);
  z-index: 0;
}

.hero-img {
  position: relative;
  grid-area: hero-img;
  width: 80%;
  align-self: end;
  transform: rotate(5deg);
}

.img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 4px solid #000;
  box-shadow: 8px 8px 0px #000;
  background-color: #fff;
  transition: transform 0.3s;
}

.img:hover {
  transform: translate(-3px, -3px);
}

.hero-img .img img {
  width: 100%;
}

.bg-hero-img {
  position: absolute;
  top: -12px;
  right: -10px;
  background-color: #e2231a;
  color: #fff;
  padding: 8px 16px;
  border: 3px solid #000;
  transform: rotate(5deg);
  box-shadow: 3px 3px 0px #000;
  z-index: 10;
}

.bg-hero-img span {
  font-size: 16px;
  font-weight: 700;
}
.latest-articles {
  padding: 60px 0;
  background-color: #f3f3f3;
}

.section-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.latest-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.latest-header h3 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  color: #000;
  text-transform: uppercase;
}

.latest-header-bage {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  transform: rotate(3deg);
  border: 2px solid #000;
  box-shadow: 3px 3px 0 #000;
}

.latest-header-bage .bage2 {
  font-weight: 700;
  font-size: 16px;
}

.latest-card {
  background-color: #fff;
  border: 4px solid #000;
  box-shadow: 4px 4px 0 #000;
  padding: 32px;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  margin-bottom: 32px;
}

.latest-card:hover {
  transform: translate(-4px, -4px);
  box-shadow: 8px 8px 0 #000;
}
.latest-card:hover .h_red {
  color: #e2231a;
}
.latest-card:hover .h_blue {
  color: rgb(63, 134, 237, 1);
}
.latest-card:hover .h_vol {
  color: rgb(180, 82, 237, 1);
}

.card-body {
  display: flex;
  gap: 24px;
}

.latest-card-img {
  position: relative;
  width: 350px;
  height: 150px;
  border: 3px solid #000;
}

.latest-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-bage {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: #ff3344;
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  padding: 4px 4px;
  border: 3px solid #000;
  transform: rotate(15deg);
  z-index: 10;
}
.img-bage2 {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: rgb(63, 134, 237, 1);
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  padding: 4px 4px;
  border: 3px solid #000;
  transform: rotate(-15deg);
  z-index: 10;
}
.img-bage3 {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: rgb(180, 82, 237, 1);
  color: #fff;
  font-weight: 800;
  font-size: 16px;
  padding: 4px 4px;
  border: 3px solid #000;
  transform: rotate(45deg);
  z-index: 10;
}

.latest-card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.body-bage {
  background-color: #ffd15b;
  color: #000;
  font-weight: 800;
  font-size: 12px;
  padding: 6px 12px;
  border: 2px solid #000;
  margin-bottom: 16px;
  box-shadow: 3px 3px #000;
  transform: rotate(-5deg);
}
.body-bage2 {
  background-color: #5bff7f;
  color: #000;
  font-weight: 800;
  font-size: 12px;
  padding: 6px 12px;
  border: 2px solid #000;
  margin-bottom: 16px;
  box-shadow: 3px 3px #000;
}
.body-bage3 {
  background-color: rgb(252, 168, 199, 1);
  color: #000;
  font-weight: 800;
  font-size: 12px;
  padding: 6px 12px;
  border: 2px solid #000;
  margin-bottom: 16px;
  box-shadow: 3px 3px #000;
}

.latest-card-body h4 {
  margin: 0;
  margin-bottom: 16px;

  font-size: 24px;
  font-weight: 700;
}

.latest-card-body p {
  font-size: 18px;
  color: #333;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
}

.latest-spans {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 13px;
  font-weight: 700;
  color: #000;
  align-items: center;
}

.red {
  color: #e2231a;
}
.latest-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-latest {
  padding: 16px 48px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 8px 8px 0 #000;
  transition: all 0.3s;
}
.button-latest:hover {
  box-shadow: 0px 0px;
  transform: translate(10px, 10px);
}
.right-part {
  height: 100%;
}

.sticky {
  position: sticky;
  top: 100px;
}
.right-headr {
  background-color: #fff;
  border: 4px solid #000;
  padding: 32px;
  box-shadow: 8px 8px 0 #000;
  margin-bottom: 32px;
}
.right-headr h4 {
  font-size: 30px;
  font-weight: 900;
  margin: 0 0 24px 0;
  width: 100%;
}

.right-header-parent {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.parent-info-row {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.span-parent-info1 {
  font-size: 36px;
  font-weight: 900;
}

.red-num {
  color: #ff3344;
}
.blue-num {
  color: #007aff;
}
.purple-num {
  color: #af52de;
}
.h_red:hover {
  color: #ff3344;
}
.h_blue:hover {
  color: #007aff;
}
.h_vol:hover {
  color: #af52de;
}
.parent-info-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.parent-info-text h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.parent-info-text p {
  font-size: 14px;
  font-weight: 400;
  color: #666;
  margin: 0;
}
.right_body {
  background-color: #fff;
  border: 4px solid #000;
  padding: 32px;
  box-shadow: 8px 8px 0 #000;
}
.right_body h4 {
  font-size: 30px;
  font-weight: 900;
}
.spans_right-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.padding-span {
  display: block;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-bottom: 12px;
  border: 2px solid #000;
  text-align: left;
  transition: all 0.15s;
}

.padding-span:hover {
  transform: translate(-3px, -3px);
  box-shadow: 4px 4px 0 #000;
}

.bg-yellow {
  background-color: rgb(253, 244, 182, 1);
}
.bg-grean {
  background-color: rgb(147, 255, 197);
}
.bg-pink {
  background-color: rgb(251, 227, 226, 1);
}
.bg-blue {
  background-color: rgb(194, 199, 255);
}
.bg-purpul {
  background-color: rgb(243, 228, 243);
}
.bg-yellow:hover {
  background-color: rgb(255, 221, 0);
}
.bg-grean:hover {
  background-color: rgb(2, 255, 116);
}
.bg-pink:hover {
  background-color: rgb(255, 0, 166);
}
.bg-blue:hover {
  background-color: rgb(0, 4, 251);
}
.bg-purpul:hover {
  background-color: rgb(221, 0, 255);
}
.authors {
  padding-block: 80px;
  background-color: rgb(255, 210, 48, 1);
  position: relative;
  z-index: 10;
}
.authors::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: rgb(221, 182, 41, 1);
  top: 30px;
  right: 35px;
  transform: rotate(45deg);
  z-index: 0;
}
.authors::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: rgb(221, 182, 41, 1);
  bottom: 30px;
  left: 35px;
  transform: rotate(45deg);
  z-index: 0;
}
.tittel {
  margin: auto;
  text-align: center;
  margin-bottom: 64px;
  z-index: 10;
  position: relative;
  width: 100%;
}
.line {
  width: 100px;
  height: 10px;
  background-color: #000;
  margin: 15px auto 0;
  margin: auto;
  transform: rotate(1deg);
  margin-top: 20px;
}
.line2 {
  width: 100px;
  height: 10px;
  background-color: #000;
  margin: 15px auto 0;
  margin: auto;
  transform: rotate(-1deg);
  margin-top: 20px;
}
.tittel h3 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}
.tittel p {
  font-weight: 600px;
  font-size: 20px;
  margin: 10px 0 0 0;
}
.authors-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.authors-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 4px solid #000;
  box-shadow: 8px 8px 0px #000;
  padding: 32px;
  transition: all 0.3s;
  z-index: 10;
}
.ho-red:hover {
  transform: translate(-4px, -4px);
}
.ho-blue:hover {
  transform: translate(-4px, -4px);
}
.ho-purpul:hover {
  transform: translate(-4px, -4px);
}
.ho-red:hover h4 {
  color: red;
}

.ho-purpul:hover h4 {
  color: rgb(180, 82, 237, 1);
}
.ho-blue:hover h4 {
  color: blue;
}
.authors-img {
  position: relative;
}

.authors-img img {
  width: 150px;
  height: 150px;
  border: 5px solid #000;
}

.authors-card-span {
  position: absolute;
  top: -15px;
  right: -90px;
  color: #fff;
  font-weight: 800;
  padding: 4px 8px;
  border: 2px solid #000;
  font-size: 12px;
}
.bg-card-authors1 {
  background-color: #fbf5ca;
}
.bg-card-authors2 {
  background-color: rgb(219, 252, 231, 1);
}
.bg-card-authors3 {
  background-color: rgb(252, 231, 243, 1);
}
.bg-rotate1 {
  transform: rotate(10deg);
  background-color: #ff3b3b;
}
.bg-rotate2 {
  transform: rotate(-10deg);
  background-color: #2c63fa;
}
.bg-rotate3 {
  transform: rotate(17deg);
  background-color: rgb(180, 82, 237, 1);
}
.authors-card h4 {
  font-size: 30px;
  font-weight: 900;
  color: #000;
  margin: 0;
  margin-top: 25px;
}

.si-m {
  font-size: 16px;
  font-weight: 700;
  color: #515151;
  margin-bottom: 0;
}

.si-s {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-bottom: 32px;
}

.authors-links-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.authors-links-card li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #000;
  text-decoration: none;
}
.twitter:hover {
  background-color: lightskyblue;
}
.linkedin:hover {
  background-color: blue;
}
.insta:hover {
  background-color: red;
}
.authors-links-card li a svg {
  width: 25px;
  height: 25px;
}
.community {
  padding-block: 80px;
  border: 4px solid #000;
}
.tittel2 {
  margin: auto;
  text-align: center;
  margin-bottom: 64px;
}
.tittel2 h3 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}
.tittel2 p {
  font-weight: 600px;
  font-size: 20px;
  margin: 10px 0 0 0;
}
.community-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}
.left-part-comunity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-block: 40px;
}

.left-part-comunity h4 {
  font-size: 36px;
  font-weight: 900;
  margin: 0 0 32px 0;
  color: #000;
}

.left-part-comunity p {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  padding: 16px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 3px 3px 0 #000;
  margin: 0 0 32px 0;
}

.community-icon-spans {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 35px;
}

.community-flex {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.icon-community {
  width: 50px;
  height: 50px;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.icon-community svg {
  width: 27px;
  height: 27px;
}

.bg-icon1 {
  background-color: #ff3344;
}
.bg-icon2 {
  background-color: #3b82f6;
}
.bg-icon3 {
  background-color: #a855f7;
}
.bg-icon4 {
  background-color: #22c55e;
}

.span-community {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.btn-community {
  padding: 24px 48px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  border: 3px solid #000;
  box-shadow: 8px 8px 0 #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.btn-community svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.btn-community:hover {
  box-shadow: 0 0 0 #000;
  transform: translate(8px, 8px);
}
.right-part-community {
  padding: 40px;
  border: #000 solid 4px;
  box-shadow: 6px 6px 0 #000;
}
.right-part-community h5 {
  margin: 0 0 32px 0;
  font-size: 30px;
  font-weight: 900;
}
.right-part-divs {
  display: flex;
  flex-direction: column;
}
.card-community {
  padding: 16px 24px;
  border: 2px solid #000;
  margin: 0 0 32px 0;
}
.card-community p {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 16px 0;
}
.bg-right1 {
  background-color: #fde9e9;
}
.bg-right2 {
  background-color: #eff6ff;
}
.bg-right3 {
  background-color: #faf5ff;
  margin-bottom: 0px;
}
.right-community-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.right-community-flex img {
  width: 50px;
  height: 50px;
  margin: 0 15px 0 0;
  border: 2px solid #000;
}
.card-community-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.card-community-info h6 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.card-community-info p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: oklch(0.439 0 0);
}
.footer {
  background-color: #000;
  color: #fff;
  padding-block: 80px;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "left-part-footer left-part-footer center-part-footer right-part-center right-part-center";
  margin-bottom: 48px;
  gap: 34px;
}
.left-part-footer {
  grid-area: left-part-footer;
}
.left-part-footer p {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 32 0;
}
.logo-info-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 32px;
}
.logo-info-footer h1 {
  font-size: 30px;
  font-weight: 900;
}
.logo-footer {
  width: 65px;
  height: 65px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  background-color: #fff;
}
.logo-footer svg {
  width: 30px;
  height: 30px;
}
.center-part-footer {
  grid-area: center-part-footer;
}
.center-part-footer h4 {
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 32px 0;
}
.center-part-footer ul {
  padding: 0;
}
.center-part-footer li {
  margin: 0 0 16px 0;
}

.center-part-footer a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.center-part-footer a:hover {
  color: #fed82c;
}
.right-part-center {
  grid-area: right-part-center;
}
.right-part-center h4 {
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 32px 0;
}
.right-part-center p {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 24px 0;
}
.footer-input-and-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  padding: 16px;
  border: 1px solid #fff;
  margin: 0 0 16px 0;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
}
.footer-btn {
  padding-block: 20px;
  text-align: center;
  border: 4px solid #000;
  background-color: #fed82c;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 8px 8px #000;
  transition: all 0.3s;
}
.footer-btn:hover {
  transform: translate(8px, 8px);
  box-shadow: 0px 0px;
}
.footer-foot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
  padding: 32px 0 0 0;
}
.footer-foot p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
}
.policy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.policy a {
  color: #fff;
  margin: 0 16px 0 0;
  font-size: 16px;
  font-weight: 600;
}
.policy a:hover {
  color: #fdc700;
}
@media (max-width: 1024px) {
  .header {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 10000;
  }
  .logo {
    font-size: 24px;
    font-weight: 800;
  }

  .container {
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
  }

  .links {
    display: none;
  }
  .computer-nav-btn {
    display: none;
  }
  .menu-wrapper {
    display: inline-block;
  }
  .menu-btn {
    width: 50px;
    height: 50px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 3px 3px 0 #000;
    transition: all 0.3s ease;
  }

  .menu-btn:hover {
    transform: translateY(-3px);
    box-shadow: 10px 10px 0 #000;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  .menu-icon span {
    width: 20px;
    height: 3px;
    background: #000;
  }

  .dropdown {
    position: absolute;
    top: -20px;
    right: 0;
    width: 280px;
    height: 100vh;
    background: #f4f4f4;
    border: 4px solid #000;
    padding: 25px;
    box-shadow: 10px 10px 0 #000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.4s;
  }

  .menu-wrapper:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .dropdown h2 {
    font-size: 24px;
    margin-bottom: 25px;
    border-bottom: 4px solid #000;
    padding-bottom: 15px;
    font-weight: 900;
  }

  .dropdown ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .dropdown ul li a {
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s;
    display: inline-block;
    color: #000;
  }

  .dropdown ul li a:hover {
    padding-bottom: 10px;
    color: rgb(255, 122, 80);
  }

  .subscribe-btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7cf59;
    border: 4px solid #000;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 8px 8px 0 #000;
    transition: all 0.3s;
    color: #000;
  }

  .subscribe-btn:hover {
    transform: translate(-4px, -4px);
    box-shadow: 12px 12px 0 #000;
  }
  .hero {
    padding-top: 144px;
    padding-bottom: 40px;
  }

  .hero .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "hero-info"
      "hero-img";
    gap: 40px;
  }

  .hero-info {
    width: 100%;
  }
  .hero-info h2 {
    font-size: 60px;
    font-weight: 900;
  }

  .hero-btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    margin-top: 24px;
  }

  .dark-btn,
  .white-btn {
    flex: 1;
    box-shadow: 5px 5px 0px #000;
  }

  .dark,
  .white {
    width: 100%;
    padding: 14px 10px;
    font-size: 16px;
    text-align: center;
  }

  .hero-img {
    width: 100%;
    align-self: center;
    transform: rotate(0deg);
  }

  .img {
    width: 100%;
    box-shadow: 6px 6px 0px #000;
    background-color: transparent;
  }

  .hero-img .img img {
    width: 100%;
    height: 100%;
  }
  .section-grid {
    grid-template-columns: 1fr;
  }

  .latest-card {
    padding: 20px;
  }
  .latest-header-bage {
    padding: 4px 8px;
  }
  .card-body {
    flex-direction: column;
    gap: 20px;
  }
  .bage2 {
    font-size: 14px;
    padding: 4px 4px;
  }
  .latest-spans {
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .button-latest {
    width: 80%;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    box-shadow: 3px 3px 0 #000;
  }

  .authors-grid {
    grid-template-columns: 1fr;
  }
  .authors-card h4 {
    font-size: 24px;
  }
  .authors-img img {
    width: 100px;
    height: 100px;
  }
  .bg-card-authors3 {
    margin-bottom: 0px;
  }
  .si-m {
    font-size: 14px;
  }
  .si-s {
    font-size: 14px;
  }
  .community {
    padding-block: 40px;
  }
  .tittel h3 {
    font-size: 32px;
    font-weight: 900;
  }
  .tittel p {
    font-size: 14px;
  }
  .tittel2 h3 {
    font-size: 32px;
    font-weight: 900;
    width: 70%;
    margin: auto;
  }
  .tittel2 p {
    font-size: 14px;
    width: 100%;
  }
  .left-part-comunity h4 {
    font-size: 32px;
    font-weight: 900;
  }

  .community-grid {
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 0 16px;
  }

  .left-part-comunity {
    padding-block: 0px;
    width: 100%;
  }

  .left-part-comunity h4 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .left-part-comunity p {
    font-size: 18px;
  }
  .span-community {
    font-size: 14px;
  }

  .community-flex {
    margin-bottom: 16px;
    align-items: flex-start;
  }
  .icon-community {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    flex-shrink: 0;
  }

  .icon-community svg {
    width: 20px;
    height: 20px;
  }

  .btn-community {
    width: 100%;
    padding: 16px 16px;
    font-size: 16px;
  }

  .btn-community svg {
    width: 22px;
    height: 22px;
  }

  .right-part-community {
    padding: 24px 16px;
    width: 100%;
  }

  .right-part-community h5 {
    font-size: 22px;
    margin-bottom: 24px;
  }

  .card-community {
    padding: 5px;
    margin-bottom: 20px;
  }
  .card-community p {
    font-size: 16px;
    margin: 0 0 8px 0;
  }
  .right-community-flex img {
    width: 45px;
    height: 45px;
    margin: 0 10px 0 0;
  }

  .card-community-info h6 {
    margin: 0;
    font-size: px;
    font-weight: 700;
  }
  .card-community-info p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: oklch(0.439 0 0);
  }
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "left-part-footer"
      "center-part-footer"
      "right-part-center";
    margin-bottom: 48px;
    gap: 34px;
  }
  .footer-foot {
    flex-direction: column;
    gap: 15px;
  }

  .policy a {
    font-size: 14px;
    font-weight: 600;
    margin: 0 8px 0 0;
  }
  .last-policy-link {
    margin: 0;
  }
  .footer-foot p {
    font-size: 14px;
    font-weight: 600;
  }
}

@media (max-width: 769px) {
  .latest-card-img {
    width: 120px;
    height: 100px;
  }
  .latest-spans {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
  }
}
